.custom-scroll {
    scrollbar-width: thin; /* Hide scrollbar in Firefox */
    scrollbar-color: transparent transparent; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Chrome and Safari */
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb (handle) */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* Color of the track (the area behind the thumb) */
  }
  